---
import { Icon } from 'astro-icon'
---

<section class='bg-[#111827] px-8 py-32'>
  <div class='flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end'>
    <Icon name='logo' class='h-32' />
    <div
      class='bg-clip-text bg-gradient-to-r from-indigo-500 via-fuchsia-500 to-pink-500 text-transparent text-6xl sm:text-8xl font-extrabold text-center tracking-tighter'
    >
      Just ship less
    </div>
    <div class='max-w-xl mx-auto'>
      <p class='mt-8 text-center text-2xl font-extrabold'>
        Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer
        experience.
      </p>
      <div class='flex justify-center gap-2 mt-8 px-8 flex-col sm:flex-row'>
        <button
          class='flex-1 justify-center border-2 border-[#f9fafb] px-6 py-4 flex items-center space-x-2 hover:border-[#818cf8] hover:text-[#818cf8] duration-200 ease-in-out'
        >
          <Icon name='telescope' class='h-8' />
          <span class='text-xl'>Read the docs</span>
        </button>
        <button
          class='flex-1 justify-center border-2 border-[#f9fafb] px-6 py-4 flex items-center space-x-2 hover:border-[#818cf8] hover:text-[#818cf8] duration-200 ease-in-out'
        >
          <Icon name='rocket' class='h-8' />
          <span class='text-xl'>Ty it out</span>
        </button>
      </div>
    </div>
  </div>
</section>
